//helpers
$background: rgba(244,248,252,1);
$bg-dark: hsl(209, 61%, 16%);
$bg-light: hsl(210, 36%, 96%);
$text-light: hsl(210, 22%, 49%);
$text-dark: hsl(209, 34%, 30%);
$border-dark: hsl(212, 33%, 89%);
$border-hover: hsl(212, 19%, 83%);

// Primary
$primary-dark: hsl(184, 77%, 34%);
$primary-default: hsl(185, 62%, 45%);
$primary-light: hsl(185, 57%, 50%);

// Neutral
$neutral-dark: hsl(211, 39%, 23%);
$neutral-default: hsl(209, 34%, 30%);
$neutral-light: hsl(209, 28%, 39%);

// Red
$red-dark: hsl(350, 94%, 28%);
$red-default: hsl(352, 90%, 35%);
$red-light:hsl(360, 67%, 44%);

// Yellow
$yellow-dark: hsl(22, 82%, 39%);
$yellow-default: hsl(29, 80%, 44%);
$yellow-light: hsl(36, 77%, 49%);

// Green
$green-dark: hsl(168, 80%, 23%);
$green-default: hsl(166, 72%, 28%);
$green-light: hsl(164, 71%, 34%);

